/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=American+Typewriter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Type+Machine&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background-color: rgb(234 179 8 );
  color: black
}

body {
  font-family: 'Inter', sans-serif;
  color: bl;
  background-color:rgb(234 179 8 );
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 1rem;
}

.footer a {
  color: #9CA3AF;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #f3af19;
}

.footer .footer-title {
  color: #f3af19;
  font-weight: 600;
}

.footer .search-input {
  background-color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  color: #333;
  border: none;
}
